In [1]:
from copy import deepcopy
import numpy as np
import pandas as pd

In [2]:
#importing daata set
data= pd.read_csv('xclara.csv')
print(data.shape)
data.head()

(3000, 2)

          V1         V2
0   2.072345  -3.241693
1  17.936710  15.784810
2   1.083576   7.319176
3  11.120670  14.406780
4  23.711550   2.557729